$color-primary: #a9833f;
$color-primary-light: #fad6a4;

$color-white: #fff;
$color-white-trans: rgba(255, 255, 255, .23);

$color-black: #333;
$color-grey: #eee;
$color-light: #ccc;

$color-black-light: #777;

$color-border: rgba(0,0,0, 0.2);