.card-form{

    & .card-header{
        background: transparent;
        border-bottom: none;
        padding-bottom: 0;

        & .card-title{
            margin: 0;
            padding-top: 1rem;
            font-size: 1.8rem;
            font-weight: 400;
            color: $color-primary;
        }
    }

    & label{
        font-size: 1rem;
        font-weight: 300;
        color: $color-black-light;
        text-transform: uppercase;
    }

    .form-control{
        font-size: 1.3rem;
        padding: .8rem 1.3rem;
        height: 4rem;
    }

    & input,
    & textarea{
        font-size: 1.5rem;
        color: $color-black;
        border-color: $color-border;

        &::placeholder{
            color: $color-grey;
        }
    }

    & input[type="file"]{
        height: 4.4rem;
    }

    & button:not(.close){
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
        background: $color-primary;
        border-color: $color-primary;
        color: $color-white;
    }
}