.tab-nav{
    margin-bottom: 2rem;

    & .nav-item{

        &:not(:last-child){
            border-bottom: 1px solid $color-border;
        }

        & .nav-link{
            font-size: 1.2rem;
            padding: 1rem 1.5rem;
            color: $color-black;

            &:hover,
            &.active{
                background: $color-primary;
                color: $color-white;
            }
        }
    }
}


.dashboard-home{

    & .card,
    & .row:not(:last-child){
        margin-bottom: 2rem;
    }

    & .stat-container [class^="col-"]:not(:last-child){
        border-right: 1px solid $color-border;
    }

    & .card{
        border-radius: 5px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125);

        &.red{
            border-top: 2px solid lightcoral;

            & .badge{
                background: red;
            }
        }
        &.blue{
            border-top: 2px solid blue;

            & .badge{
                background: blue;
            }
        }
        &.green{
            border-top: 2px solid green;

            & .badge{
                background: green;
            }
        }
        &.orange{
            border-top: 2px solid orange;

            & .badge{
                background: orange;
            }
        }

        & .card-header p{
            font-size: 1.5rem;
        }

        & .list-group-item{

            &:hover{
                background: #f5f5f5;
            }
        }
    }

    & .badge{
        @include trans(.3s);
        color: $color-white;

        &:hover{
            background: #ddd !important;
            color: $color-black;
        }
    }
}

.wig-ticketdate{
    display: block;
    font-size: 12px;
    color: #888;
}

.wig-ticketlabel{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    background: #ff6600;
    color: $color-white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

    &.closed{
        background: #ddd;
        color: $color-grey;
    }
}

.user-announcement{

    & .wrapper{

        & .news{
            padding: 1rem 0 2rem;

            &:first-child{
                padding-top: 0;
            }

            &:not(:last-child){
                border-bottom: 1px solid $color-border;
            }
             
            & .title{
                display: inline-block;
                font-size: 2.2rem;
                color: $color-primary;
                font-weight: 500;

                &:hover{
                    text-decoration: underline;
                }
            }

            & .content{
                font-size: 1.5rem;
                color: $color-black;
                margin: .5rem 0 1rem;
            }

            & .date{
                font-size: .85em;
                color: #888;

                & i{
                    margin-right: .5rem;
                }
            }
        }
    }
}

.user-announcement-detail{

    & .content{
        font-size: 1.5rem;
        color: $color-black;
        margin: .5rem 0 1rem;
    }

    & .date{
        font-size: .85em;
        color: #888;

        & i{
            margin-right: .5rem;
        }
    }
}

.button-wrapper{
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-border;
    margin-bottom: 2rem;

    .btn{
        padding: 1rem 1.5rem;
    }
}

.user-upload{

    .card{

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    textarea.form-control{
        height: 11rem;
    }
}

.note-editor.note-airframe .note-editing-area .note-codable, .note-editor.note-frame .note-editing-area .note-editable{
    height: 20rem;
    padding-left: 3rem;
}